<%- include('./includes/navbar.ejs') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <%- include('./includes/blogPost.ejs') %>

            <!-- Pagination -->
            <%- include("./includes/pagination.ejs")  %> 
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs') %>
