<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
               
                <h2>خطای 404</h2>
                <div class="error-details">
                    صفحه مورد نظر پیدا نشد 
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"
                        ><span class="fa fa-home"></span>برگشت به صفحه اصلی</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
